<!-- Navigation-->

<!-- <nav class="navbar navbar-expand-lg navbar-light fixed-top main-logo">
    <div class="applogo">
        <a class="navbar-brand"><img class="logo-img" src="assets/images/MHE_Logo_RGB.png" /></a>
    </div>
    <div class="top-header">
        <div class="header-action-sec">
            <app-sidemenu-page class=""  (checkMenu)="onMenuselect($event)"></app-sidemenu-page>                                    
        </div>
    </div>
</nav>
 -->
 <!-- Navigation-->

<nav class="navbar navbar-expand-lg navbar-light fixed-top main-logo">
    <div class="row navrow">
        <div class="col-lg-2 logo">
            <a class="navbar-brand"><img class="logo-img" src="assets/images/MHE_Logo_RGB.png" style="height: 44px;width: 60px;margin-top: 3px; margin-left: 70px;" /></a>
        </div>
        <div class="col-lg-10 topmenu">
                <app-sidemenu-page class=""  (checkMenu)="onMenuselect($event)"></app-sidemenu-page>                                    
        </div>
    </div>
</nav>
