<div class="inline-editor1">
  <div>
    <h2 mat-dialog-title>Update Content</h2>
    <mat-dialog-content class="mat-typography">
      <div class="input-grp">
        <form [formGroup]="myForm" (ngSubmit)="saveChanges(selectedJson)">
          <div appearance="fill">
            <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ fields: fields }"></ng-container>
  
            <ng-template #recursiveListTmpl let-fields="fields">
              <div *ngFor="let data of fields; let i = index;">
                <div class="form-group">
                  <div *ngIf="(data | compareString: 'text')">
                    <div *ngIf="checkInputHide(fields)" class="myLabel">
                      <!-- <app-text-field [name]="fields[0].componentData[0]['type']"
                        [title]="fields[0].componentData[0]['displayField']"
                        [id]="fields[0].componentData[0]['data-uuid']" [fieldData]="fields[0]"
                        [data]="fields[0].componentData[0]['data']" (sendItem)="getData($event, 'inputField')">
                      </app-text-field> -->
    
                      <app-text-field [name]="fields[i].componentData[0]['type']"
                        [title]="fields[i].componentData[0]['displayField']" [styleData]=""
                        [id]="fields[i].componentData[0]['data-uuid']" [data_uuid]="fields[i].attributes[0]['id']"
                        [data]="fields[i].componentData[0]['data']" 
                        [innerHtmlData]="fields[i].componentData[0]['innerHtmlData']" (sendItem)="getData($event, 'inputField')">
                      </app-text-field>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div *ngIf="(data | compareString: 'img')">
                    <div *ngIf="checkInputHide(fields[i]['img'])" class="myLabel">
                      <app-text-field [name]="fields[i]['img'][0].componentData[0]['type']"
                        [title]="fields[i]['img'][0].componentData[0]['displayField']" [styleData]="fields[i]['img'][0].attributes[0]"
                        [id]="fields[i]['img'][0].attributes[0]['id']" [data_uuid]="fields[i]['img'][0].attributes[0]['id']"
                        [data]="fields[i]['img'][0].attributes[0]['src']" [innerHtmlData]="" (sendItem)="getData($event, 'imageField')">
                      </app-text-field>
                    </div>
                  </div>
                </div>
                <div *ngIf="(data | compareString: 'checkRecursion')">
                  <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ fields: data[getObjectName(data)] }">
                  </ng-container>
                </div>
              </div>
            </ng-template>
          </div>
        </form>
      </div>
    </mat-dialog-content>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close class="close_btn">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
          x="0px" y="0px" width="121.31px" height="122.876px" viewBox="0 0 121.31 122.876"
          enable-background="new 0 0 121.31 122.876" xml:space="preserve">
          <g>
            <path fill-rule="evenodd" fill="#A1A1A1" clip-rule="evenodd"
              d="M90.914,5.296c6.927-7.034,18.188-7.065,25.154-0.068 c6.961,6.995,6.991,18.369,0.068,25.397L85.743,61.452l30.425,30.855c6.866,6.978,6.773,18.28-0.208,25.247 c-6.983,6.964-18.21,6.946-25.074-0.031L60.669,86.881L30.395,117.58c-6.927,7.034-18.188,7.065-25.154,0.068 c-6.961-6.995-6.992-18.369-0.068-25.397l30.393-30.827L5.142,30.568c-6.867-6.978-6.773-18.28,0.208-25.247 c6.983-6.963,18.21-6.946,25.074,0.031l30.217,30.643L90.914,5.296L90.914,5.296z" />
          </g>
        </svg>
      </button>
      <div class="action_btn">
        <button class="btn submit-btn cancelButton text-right" type="button" id="userCancel"
          (click)="closeDialog()">Cancel</button>
        <button class="btn submit-btn saveButton text-right" type="button" id="usersubmitbtn"
          (click)="saveChanges(selectedJson)">Update</button>
      </div>
    </div>
  </div>
  
  <!-- <div id="matheditor_container">
    <h4>Math editor</h4>
    <div class="close-icon">
      <span title="close" (click)="editorCloseMath()">
        <i class="fa fa-times"></i>
      </span>
    </div>
    <textarea id="matheditor_input" rows="20" cols="10" name="mathinput" [(ngModel)]="mathinput" #message='ngModel'
      (ngModelChange)="editmath()"></textarea>
    <br />
    <div class="render">
      <div class="matherrormsg" *ngIf="matherrormsg">Invalid Mathml !</div>
      <input type="button" value="Render" id="render" [disabled]='!mathinput' (click)="render_math()" />
    </div>
    <div class="mathpaddingwrap">
      Margin
      <input type="number" class="mathpadding" id="mathpaddingTop" min="1" max="15" step="1" placeholder="px"
        [(ngModel)]="mathpaddingTop" (ngModelChange)="changeMathpadding($event,1)" [disabled]='enableSave'>
      <input type="number" class="mathpadding" id="mathpaddingRight" min="1" max="15" step="1" placeholder="px"
        [(ngModel)]="mathpaddingRight" (ngModelChange)="changeMathpadding($event,2)" [disabled]='enableSave'>
      <input type="number" class="mathpadding" id="mathpaddingBottom" min="1" max="15" step="1" placeholder="px"
        [(ngModel)]="mathpaddingBottom" (ngModelChange)="changeMathpadding($event,3)" [disabled]='enableSave'>
      <input type="number" class="mathpadding" id="mathpaddingLeft" min="1" max="15" step="1" placeholder="px"
        [(ngModel)]="mathpaddingLeft" (ngModelChange)="changeMathpadding($event,4)" [disabled]='enableSave'>
    </div>
    <br clear="all" />
    <div id="matheditor_output"></div>
    <div class="save">
      <input type="button" value="Save and close" id="render" (click)="save_math()" [disabled]='enableSave' />
    </div>
  </div> -->
</div>